
h1{
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
    float: left;
    margin: 0 auto;
    line-height: 254px;
}
body{
    font-family: "Times New Roman";
    background-color: whitesmoke;
    
}
img{
    width: 250px;
    height: 300px;
    margin-left: 100px;
    border-radius: 25%;
}
header {
    height: 50px;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
header p{
    float: right;
    display: inline-block;
    padding: 0px 5px;
    margin: 0 auto;
    text-align: center;
    width: 150px;
    height: 100%;
    line-height: 50px;
    font-size: 35px;
    color: black;
    

}
header p:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    
}
header h4{
    display: inline-block;
    font-size: 35px;
    line-height: 50px;
    margin: 0;
    font-weight: normal;
    
    
}

.welcome-section{
    
    width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
}
li{
    list-style: none;
}
h2 {
    font-size: 50px;
    font-weight: 100;
}
h3{
    font-size: 40px;
    font-weight: 100;
}
.welcome-section p {
    font-size: 25px;
}
.project a, footer a {
    text-decoration: none;
    color: black;
    font-style: italic;
    display: inline-block;
}
header a{
    text-decoration: none;
    color: black;
    font-style: normal;
    display: inline-block;
}
header a:hover {
    color: white;

}

.project a:hover, footer a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
.profile-link p{
    float: right;
    font-size: 30px;
    display: inline-block;
    line-height: 70px;
    margin: 0;
    padding: 0 5px;
}
.profile-link h2{
    line-height: 70px;
    float: left;
    font-size: 35px;
    margin: 0;
    
}
footer {
    height: 70px;
    border-top: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.education, .project-title, .tech, .hobby {
    margin-top: 150px;
}
.welcome-section h2{
    border-bottom: 1px solid black;
    margin-top: 200px;
}
.project {
    margin-top: 200px;
}
header a{
    font-style: normal;
}
